$gray-900: #f8f9fa;
$gray-800: #e9ecef;
$gray-700: #dee2e6;
$gray-600: #ced4da;
$gray-500: #adb5bd;
$gray-400: #6c757d;
$gray-300: #495057;
$gray-200: #343a40;
$gray-100: #212529;
$black: #fff;
$blue: lighten(#007bff, 15%);
$green: lighten(#28a745, 15%);
$red: darken(#dc3545, 5%);
$secondary: $gray-400;
$white: darken($gray-100, 5%);
$yellow: lighten(#ffc107, 15%);

$dropdown-border-color: $secondary;
$link-hover-color: lighten($blue, 15%);
$list-group-bg: $gray-100;
$list-group-hover-bg: $gray-200;
$list-group-action-color: $blue;
$list-group-action-hover-color: lighten($blue, 15%);
$modal-backdrop-bg: $white;
$yiq-text-dark: $white;
$yiq-text-light: $gray-900;

:root {
  --black: #{$black};
}

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@mixin text-emphasis-variant($parent, $color, $ignore-warning: false) {
  #{$parent} {
    color: $color !important;
  }
  a#{$parent} {
    @include hover-focus() {
      color: lighten($color, 15%) !important;
    }
  }
}
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/toasts";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/print";
